/** Custom css */
.clrddd{color:#ddd;}
.clr777{color:#777;}
.clrthemes{color:#fe5c0f;;}
.fnt18{font-size:18px;}
.fnt20{font-size:20px;}
.fnt22{font-size:22px !important;}
.fnt24{font-size:24px !important;}